{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" },
	  "Lucario", 
	  "Lulu", 
	  "Skipper", 
	  "Jackle", 
	  "Rinehart", 
	  "Carrie", 
	  "Cornell", 
	  "Henry", 
	  "Peanut", 
	  "Muramasa", 
	  "Tera", 
	  "Nippers", 
	  "Honey", 
	  "Melon", 
	  "Pepper", 
	  "Peppermint", 
	  "Fluffers", 
	  "Willow", 
	  "Peaches", 
	  "Nibbles", 
	  "Marrow", 
	  "Muffin", 
	  "Dutchess", 
	  "Daisy", 
	  "Terrot", 
	  "Yuki", 
	  "Luca",
	  "Auran", 
	  "Riley", 
	  "Orichos", 
	  "Shadow", 
	  "Hiden", 
	  "Hidou", 
	  "Ryu", 
	  "Aaron", 
	  "Satoshi", 
	  "Oliver", 
	  "Yuki", 
	  "Olivia", 
	  "Nikko", 
	  "Fehdin", 
	  "Rias", 
	  "Chrono", 
	  "Scar", 
	  "Jackal", 
	  "Tekkan", 
	  "Rukario", 
	  "Marshall", 
	  "Ren", 
	  "Curias", 
	  "Ash", 
	  "Ken", 
	  "Okami", 
	  "Spark", 
	  "Luccina", 
	  "Lukra", 
	  "Zero", 
	  "Lily", 
	  "Lucaria", 
	  "Rose", 
	  "Samuel", 
	  "Azur", 
	  "Arthur", 
	  "Elizabeth", 
	  "Zel", 
	  "Mark", 
	  "Zamasu", 
	  "Dil", 
	  "Richard", 
	  "Galvan", 
	  "Sophie", 
	  "Amber", 
	  "Crystal", 
	  "Rena", 
	  "Rilo", 
	  "Rukra", 
	  "Lura", 
	  "Vinkle" 
	  ]
    ]
  ]
}


