{
  "greeting" : {
	"default" : {
		"default" : [
			"Hello.", 
			"Good day to you.", 
			"How is your day?", 
			"I welcome your presence.", 
			"I may ask to greet you.", 
			"My spirit welcomes yours.",
			"Hi, may I greet.",
			"I hope your life is filled with resolve.",
			"A calm mind is welcome among us.",
			"A balanced aura is welcome.",
			"I felt you miles away and now I offer greeting.",
			"I felt something coming so now I greet.",
			"A resonation was felt with yours, hello.",
			"A calm soul welcomes another.",
			"We train every day, allow me to invite?",
			"May your aura be welcomed.",
			"We welcome all with kind mind.",
			"Hello, may your aura grow.",
			"I greet your arrival.",
			"Aura binds us all, thus I welcome." 
		]
	}
  },

  "converse" : {
    "default" : {
	  "generic" : [
		"Our spirit is one with us.",
		"Let your aura guide you on the path you are destined to take.",
		"We train our minds every day, as well as our body.",
		"Aim to be the best, like no ever was.",
		"I hope one day, we will both reach our full potential.",
		"A just spirit is needed to view the aura around you clearly.",
		"Motivation is key, never let circumstances pin you down.",
		"We each believe in the person, not the reputation.",
		"The calmness of mind, and the flow around us is how we sense.",
		"We can see who you are by sight, know more by sense, and learn you by touch.",
		"The aura or waves you emit tell us who you are.",
		"Our aura releases in a form like a mist or to some a flame.",
		"You can let your mind be at ease, we only fight for survival or honor.",
		"We had learned that our fighting styles were similar to martial arts.",
		"Let me remind you that we are closer to jackals than dogs or foxes.",
		"Train every day to better oneself.",
		"If you meditate, you can calm your lively troubles even if momentarily.",
		"I trust that you will have no trouble with us.",
		"If you need anything, just ask.",
		"For honor and truth we better ourselves every day." 
	  ],
      "default" : [
        "Such mystery in your presence."
      ],
      "human" : [
		"Once upon a time we were different but now we are equals.",
		"Follow your heart with honor and we will respect.",
		"Take care of all around you, no matter how small the life.",
		"Do not let your emotions take control, master them.",
		"Learn from your mistakes to better yourself.",
		"It's been a long time since I've seen a human.",
		"You have your own power, do not rely on me or others for everything.",
		"I hope you find your own inner power.",
		"I will admit, we never were able to advance until peace with your kind.",
		"We have learned much from you, as you with us.",
		"You have the compacity for greater improvement, you just have to work for it.",
		"I am no lower than you, as I am no higher.",
		"You have advanced so much as well as mindset.",
		"Even though I am from another time line, we still hold history.",
		"Do you train every day?",
		"Your aura seems more focused on peace than times before.", 
		"As history tells our Aura Guardians merged with your Protectorate.", 
		"I hope you have a pleasurable day.", 
		"I hope you can relax after your daily troubles today.", 
		"How is it like not having a tail?"
      ],
      "avian" : [
		"Our beliefs may be different, but I feel we can still get along.", 
		"Kluex? would you mind elaborating?", 
		"Your spirit seems to be filled with so much hope.", 
		"Your beliefs drive your spirit, great!", 
		"Aspire to turn your spirit into power!", 
		"Your plumage is wonderful.",
		"Some say that stargazing is like meditation.",
		"I feel our races could get along very well.",
		"As you have Kluex, we have our Legendary Deities.",
		"You seem so kind and accepting, a much appreciated difference.",
		"Maybe with enough power of spirit, you could truly fly.",
		"We have our own crystals called auracite, we could compare.",
		"How is it like eating with a beak?",
		"Train everyday, mind and spirit, then we will put out skills to the test.",
		"I'm not sure about the seeds, but the berries I could try.",
		"So do you brush your feathers.... or?...",
		"Is your bone structure light? Ours is made of metal.",
		"Unlike you, our species could never fly.",
		"May I ask? I know you are birds, but where are your tails?",
		"I hope one day you seek the freedom you wish for." 
      ],
      "floran" : [
		"Nature is one with you as I can see.", 
		"We feel all life around us and with that nature, but you are different.", 
		"You remind me of some species I know of, usually in debate of plant or animal.", 
		"You like to hunt? unfortunately we only hunt what we need.", 
		"May I suggest some training? It may make you a better hunter.",
		"For a plant you have a large obsession with meat, while us are berries.",
		"You have such vibrant colors! Are you able to dye them?",
		"Your ways remind me of a bit of our culture in the past.",
		"Even though you seem primitive, you are far beyond that expectation.",
		"Even if others cannot understand through the hiss, I can.",
		"Fire? no this is my aura.",
		"What you call magic is actually my aura, my life energy.",
		"I told you... I'm not a dog or fox..",
		"I am not a prey to hunt.",
		"Sorry you can't take the spikes off my body.",
		"If you wish to learn, then ask.",
		"Just... don't pull my tail...",
		"No, I don't have a particular flavor.",
		"The more primitive of your people always seem to chase after me with weapons.",
		"Keep your motivations strong and you will unlock your own power." 
      ],
      "apex" : [
		"Your ambition for science astonishes me.", 
		"I see you are covered in fur as well, just no tail..", 
		"How do you take care of your fur?", 
		"You may train your mind every day, but don't forget to train yourself.",
		"With all of the stress you build, I would suggest meditation.",
		"I heard your species called our aura electro magnetic waves, there is much more to understand.",
		"I see the advances you have achieved, aspire to make more.",
		"We believe in individuality, so Bug Ape is concerning.",
		"I'm not sure if I want bio-implants or not.",
		"Living in fear seems bad, wait... no?",
		"The miniknog seem intimidating...",
		"If you wish, I could sit down and talk about inquiries.",
		"I would like to hear about your studies.",
		"It would be interesting to talk over a cup of pecha juice.",
		"Do you need a brush?",
		"Your fur is so curly while mine is straight, odd.",
		"One day we need to discuss our differences.",
		"Your aura is filled with either fear or ambition, interesting.", 
		"Even if under control or free, your mind is of your own.", 
		"I would come see your labs, but they frighten me." 
      ],
      "hylotl" : [
        "I hear your culture is very rich, can I view it sometime?", 
		"How is it like breathing water? Is it like air?", 
		"May I ask? How is it like having scales... wait you don't?", 
		"So you are an aquatic life form... where is your tail?", 
		"I noticed that some of your culture reminds me of practices we do.", 
		"Do you want to join me in meditation?",
		"Your words can be so poetic, it puts some of our taught sayings to shame.",
		"In your stories I witnessed something similar to aura.",
		"The spirit that you speak of, how does it feel?",
		"I am able to perceive much more than some, maybe I can enjoy the art you speak of.",
		"Though our struggles seem dire, our light will always transpire.",
		"We mostly live in mountains so the oceans are a new experience.",
		"Is there any way you could teach me to swim? Our metal skeleton weighs us down.",
		"Yes, it is odd to see a new species but that doesn't phase us.",
		"I appreciate your craftsmanship, it's very ornate.",
		"You wouldn't mind me visiting your libraries sometime?",
		"Yes I can feel your emotions.",
		"I know you are pacifist, but maybe you could try some training?",
		"It's such a disappointment to craft such amazing weapons but no practice to master using them.",
		"Maybe we could teach you to use aura." 
      ],
      "glitch" : [
		"Your style of speech reminds me of a direct and formal speak.", 
		"When I see you, I am reminded of the days of the Aura Guardians.", 
		"It's strange, you are mechanical but have your own spirit.", 
		"I'm having a hard time understanding your aura.", 
		"Interesting, I would like to hear more of your people.", 
		"So each of you have a designated task except for free thinkers, odd.",
		"Just as you live under a code, so do we.",
		"Let us talk about medieval practices for a bit.",
		"So does your kingdoms have lords and ladies or just kings and queens?",
		"Although I have metal in my body, I am not mechanical like you are.",
		"Do you train as an apprentice under a master?",
		"Can I suggest a mixture to keep metal from tarnishing?",
		"Even though you hold emotions, they seem so sudden and serious.",
		"Can you access your spirit? Do you have the ability to sense outside of normal?",
		"I wonder? How do you create more of your species?",
		"A mechanical marvel, do you know of Magearna? She has been missing.",
		"I wonder what would happen if I unlocked your spirit.",
		"I wonder if your programming allows potential or restricts you only to upgrades?",
		"We have many artificial creatures where I come from.",
		"May your day every be pleasant I doth of thee." 
      ],
      "novakid" : [
		"I admire your hospitality, although mind the thorn fruit.", 
		"Your culture is so different than many I have seen.", 
		"So do you herd any creatures?", 
		"I noticed that you indulge in Narcotics, I will pass.", 
		"Are.... you made of energy??", 
		"Your aura... I can't tell... are you entirely it?",
		"Your energy, it disrupts my ability to sense your aura.",
		"Your energy seems to be focused on that brand.",
		"Your glow reminds me of my aura.",
		"With enough concentration, I might be able to reach that luminescence temporarily.",
		"I had to admire how much energy you posses.",
		"I feel teaching you aura would be dangerous.",
		"I will respect your culture and I hope you can respect mine.",
		"Your sayings are a bit different than ours but no less wise.",
		"These guns seem to be your speciality, I prefer melee weapons.",
		"I almost have the feeling that you would take care of a ranch.",
		"With one of you by my side, I feel that I would never be in the dark again.",
		"That style of clothing is so familiar..",
		"No, I'm not a coyote.",
		"I will respect your values, all I ask is that you don't stomp on mine."	
      ]
    }
  },

  "accuse" : {
    "default" : {
      "default" : [
        "Stop these actions right now!", 
		"How could you take from the lives of others?!", 
		"Stealing is not tolerable!", 
		"How would you feel if one stole from you?!", 
		"Put the possessions back now!", 
		"How dare you take from others!" 
      ]
    }
  },
   "alert" : {
    "default" : {
      "default" : [
        "Thief!"
      ]
    }
  },
  "hail" : {
    "default" : {
      "default" : [
        "Keep your aura calm and tempered.", 
		"Watch yourself, strange one.", 
		"As long as you stay peaceful, you are welcome.", 
		"Don't tread on the lives of others, okay?", 
		"We will be vigilant if you cause trouble, so don't.", 
		"Don't disturb one's way of life."
      ]
	}
  },
  "helpme" : {
    "default" : {
      "default" : [
        "I'm being attacked!",
		"Help!",
		"I can't do this alone! Help!",
		"I can't use my strength help!",
		"Help me!"
      ]
    }
  },
  "helpthem" : {
    "default" : {
      "default" : [
        "They need some Help!"
      ]
    }
  },
  "encourage" : {
    "default" : {
      "default" : [
        "Get them!"
      ]
    }
  },
  "safe" : {
    "default" : {
      "default" : [
        "Thank you for that.",
		"I thought I was in trouble there.",
		"I'm not unharmed but okay.",
		"I'm thankful for the assistance."
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default" : [
        "Something about this place is different.", "I sense different objects than before..", 
		"The peace of my home has been disturbed..", 
		"I felt at ease with how this place used to be.", 
		"Everything is different now.", 
		"My order has been disrupted."
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default" : [
        "This place is in ill repair, fix it if you will.", 
		"Holes in the walls are like holes in my patience, repair please!", 
		"I can't tolerate a broken home, restore it.", 
		"This place was once fine, now it NEEDS repair.", 
		"The home is damaged, repair it will you?", 
		"Fix the home please?" 
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default" : [
        "I cannot meditate with another here!", 
		"I believe this was my home?!", 
		"There is too small of a space for two of us.", 
		"I had my deed established first, it shouldn't be taken away.", 
		"Listen, even though how considerate it is to give company, this company isn't supposed to share my home.", 
		"My peace is broken by this, remove the second deed!"
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [
        "I cannot stay here if this continues!", 
		"I've about had enough of the order being broken!", 
		"This is not tolerable!", 
		"How can I trust you if you treat me like this?!", 
		"I can no longer abide by the disrepair of home and mind!", 
		"You! have brought shame to yourself for doing this!"
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [
        "See you in another life!", 
		"I am gone and you could have stopped it!", 
		"You will not see me or my soul again, bye!", 
		"No apologies, I'm gone!", 
		"Never we meet again!", 
		"I knew I shouldn't have stayed here!"
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
        "You called?",
		"I sensed you call and came right away.",
		"You summoned me?",
		"Do you need anything?",
		"I have returned.",
		"Is it time for tea?",
		"Is it training time?",
		"Oh! welcome! I didn't realise I had a quest.",
		"Do you need assistance?",
		"Something troubling your mind?",
		"Do you need something of me?"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
        "I must gift what is owed.",
		"I hope this fairs well to you.",
		"I will give what is required.",
		"I hope this gives you some peace.",
		"Take this as a token of my thanks.",
		"I appreciate you letting me live here, have this.",
		"It is only fair that I provide you this."
      ]
    }
  },
  "reattack" : {
    "default" : {
      "default" : [
       "Returning was a mistake!",
		"Such a negative aura is not allowed to return!",
		"You will not come back after this!",
		"A returning foe is no problem for me!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
       "I sense a hostile aura.",
		"Let us rid of this enemy!",
		"The time has come to fight!",
		"You will not win this fight!",
		"Prepare to taste defeat!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "It was pre-decided.",
		"I hope you fair well in the other life.",
		"Another life lost, but a battle won.",
		"We can rest now in peace.",
		"I trained for this day.",
		"Let you soul now be in peace.",
		"We can meditate peacefully now.",
		"A victory has assured our peace."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "It got away!",
		"We will fight again one day!",
		"Never disturb our peace again!",
		"I must train harder to not this happen again.",
		"I will have to clear my mind after this..",
		"Let this be a lesson." 
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Come back here!",
		"All of a sudden the enemy is gone.",
		"Where could they have gone?",
		"If it's out of sight I shouldn't bother tracking it with aura.",
		"How could it just vanish?" 
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
       "Come down and fight!",
		"Staying away like that is not honorable.",
		"Fight me!" 
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "Take the foe down!",
		"Win this!",
		"Never lose sight on your goal!",
		"Keep going!"
      ]
    }
  }
}