{
  "filter" : [ ],
  "titleFromEntity" : true,
  "requiresBlueprint" : true,
  "craftingSound" : "/sfx/interface/crafting_general1.ogg",
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/LloomHeader.png",
      "fileBody" : "/interface/crafting/Lloombody.png",
      "fileFooter" : "/interface/crafting/Lloomfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [451, 250]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : " Lucario Clothing Loom",
      "subtitle" : " ^#b9b5b2;Crafting the Best Fit for a Lucario",
      "position" : [-5, 251],
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/craftingfurnace.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/crafting/shine.png",
      "position" : [115, 0],
      "zlevel" : -10
    },
    "btnUpgrade" : {
      "type" : "button",
      "disabledImage" : "/interface/crafting/upgradeUnready.png",
      "base" : "/interface/crafting/upgradeReady.png",
      "position" : [139, 247],
      "zlevel" : 5
    },
    "lblSchematics" : {
      "type" : "label",
      "position" : [215, 232],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;BLUEPRINTS"
    },
    "lblProducttitle" : {
      "type" : "label",
      "position" : [395, 232],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;PRODUCT"
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [350, 36],
      "upOffset" : 36
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [361, 36],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/amount.png",
      "position" : [356, 35],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [402, 34],
      "caption" : "Craft"
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/interface/buttonactive.png",
      "hover" : "/interface/buttonactivehover.png",
      "position" : [402, 34],
      "caption" : "Stop"
    },
    "imgCraftBg" : {
      "type" : "image",
      "file" : "/interface/crafting/craftbg.png",
      "position" : [326, 31],
      "zlevel" : -5
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [327, 32]
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      "position" : [140, 47]
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [151, 46],
      "hAnchor" : "left",
      "value" : "MATERIALS AVAILABLE"
    },

    "description" : {
      "type" : "widget",
      "position" : [320, 29],
      "size" : [180, 220]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [187, 31],
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [135, 57, 304, 210],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/craftableselected2.png",
            "unselectedBG" : "/interface/crafting/craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [119, 5],
                "file" : "/interface/crafting/new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [134, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
	"lblBarTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_ingredientsstring.png",
      "position" : [155, 211],
      "zlevel" : 3
    },
    "lblMatTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_clothes.png",
      "position" : [209, 211],
      "zlevel" : 3
    },
    "lblDyeTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_dyes.png",
      "position" : [261, 211],
      "zlevel" : 3
    },
    "lblALLTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_clothes.png",
      "position" : [54, 211],
      "zlevel" : 3
    },
    "lblGSPIKEDTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_clothes.png",
      "position" : [63, 211],
      "zlevel" : 3
    },
	"lblGCSPIKETab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_clothes.png",
      "position" : [71, 211],
      "zlevel" : 3
    },
	"lblGPSPIKETab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_clothes.png",
      "position" : [79, 211],
      "zlevel" : 3
    },
	"lblGNOSPIKETab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_clothes.png",
      "position" : [87, 211],
      "zlevel" : 3
    },
	"lblNSPIKEDTab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_clothes.png",
      "position" : [95, 211],
      "zlevel" : 3
    },
	"lblNCSPIKETab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_clothes.png",
      "position" : [103, 211],
      "zlevel" : 3
    },
	"lblNPSPIKETab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_clothes.png",
      "position" : [111, 211],
      "zlevel" : 3
    },
	"lblNNOSPIKETab" : {
      "type" : "image",
      "file" : "/interface/crafting/tabicon_clothes.png",
      "position" : [119, 211],
      "zlevel" : 3
    },
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
	    {
          "selected" : true,
          "position" : [134, 210],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selLloomTab.png",
          "data" : {
            "filter" : [ "ingredients" ]
          }
        },
        {
          "position" : [188, 210],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selLloomTab.png",
          "data" : {
            "filter" : [ "clothes" ]
          }
        },
        {
          "position" : [242, 210],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selLloomTab.png",
          "data" : {
            "filter" : [ "dyes" ]
          }
        },
        {
          "position" : [4, 53],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selTabAll.png",
          "data" : {
            "filter" : [ "LALL" ]
          }
        },
        {
          "position" : [0, 52],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selTabGS.png",
          "data" : {
            "filter" : [ "GCU", "GLU", "LTU", "RTU", "FTU" ]
          }
        },
		{
          "position" : [0, 52],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selTabGC.png",
          "data" : {
            "filter" : [ "GCNSU", "GLU", "LTU", "RTU", "FTU" ]
          }
        },
		{
          "position" : [0, 52],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selTabGP.png",
          "data" : {
            "filter" : [ "GCNPSU","GLU", "LTU", "RTU", "FTU"  ]
          }
        },
		{
          "position" : [0, 52],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selTabGN.png",
          "data" : {
            "filter" : [ "GCNSNPSU","GLU", "LTU", "RTU", "FTU" ]
          }
        },
        {
          "position" : [0, 52],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selTabNS.png",
          "data" : {
            "filter" : [ "NCU", "NLU", "LTUN", "RTUN", "FTUN" ]
          }
        },
		{
          "position" : [0, 52],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selTabNC.png",
          "data" : {
            "filter" : [ "NCNSU", "NLU", "LTUN", "RTUN", "FTUN" ]
          }
        },
		{
          "position" : [0, 52],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selTabNP.png",
          "data" : {
            "filter" : [ "NCNPSU", "NLU", "LTUN", "RTUN", "FTUN" ]
          }
        },
		{
          "position" : [0, 52],
          "baseImage" : "/interface/crafting/unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/selTabNN.png",
          "data" : {
            "filter" : [ "NCNSNPSU",  "NLU", "LTUN", "RTUN", "FTUN" ]
          }
        }
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    }
  }
}
